.header{
  text-align: center;
  color: white;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .header-text{
    font-size: 5.5rem;
    font-weight: 500;
    word-spacing: 1.5rem;
    padding: 0 1rem;
  }
}
