.header{
  text-align: center;
  color: white;
  height: 20vh;
  .header-text{
    padding-top: 10vh;
    font-size: 50px;
    font-weight: 300;
    word-spacing: 10px;
  }
}

//<a href="https://pngtree.com/free-vectors">free vectors from pngtree.com</a>