main{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  .addNew{
    display: flex;
    justify-content: center;
    height: 10vh;
    padding: 5rem;

    #item{
      text-align: center;
      font-size: 22px;
      border: none;
      width: 55%;
      -webkit-box-shadow: 0 0 64px -3px rgba(67,108,145,0.43);
      -moz-box-shadow: 0 0 64px -3px rgba(67,108,145,0.43);
      box-shadow: 0 0 64px -3px rgba(67,108,145,0.43);
    }
    .addBtn{
      background: none;
      border:none;
      padding-left: 2rem;

      img{
        height: 5rem;
      }
    }
  }
  .travelList{
    text-align:center;

    li {
      background-color: rgba(225,225,255,0.5);
      border: 1px solid coral;
      width: 60%;
      height: 4.5rem;
      font-size: 25px;
      margin: 1% 20%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .buttons{
        .undone{
          height: 3rem;
          margin: 0 1rem;
          width: 3rem;
          background-image: url("../images/bin.png");
          background-size: cover;
          border: none;
        }
        .done{
          height: 3rem;
          margin: 0 1rem;
          width: 3rem;
          background-size: cover;
          border: none;
          background-image: url("../images/checked.png");
        }
      }
    }
    .completed-header{
      font-size: 22px;
      color: white;
      padding: 3rem 0;
    }
  }

  #completed{
    li{
      background-color: rgba(225,225,255,0.5);
      border: 1px solid coral;
      width: 60%;
      height: 4.5rem;
      font-size: 25px;
      margin: 0 20%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.is-visible{
  display: none;
}