@import "container";

.main{
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  .addNew{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 10vh;
    padding-bottom: 10vh;
    #place{
      text-align: center;
      font-size: 2.5rem;
      border: none;
      width: 45rem;
      -webkit-box-shadow: 0 0 64px -3px rgba(67,108,145,0.43);
      -moz-box-shadow: 0 0 64px -3px rgba(67,108,145,0.43);
      box-shadow: 0 0 64px -3px rgba(67,108,145,0.43);
      @media only screen and (max-width: 400px){
        width: 33rem;
      }
    }
    .addBtn{
      background: none;
      border:none;
      padding-left: 2rem;

     .plus-img{
        height: 5rem;
       @media only screen and (max-width: $bp-mobile){
         height: 7rem;
       }
      }
    }
  }
  .travelList{
    text-align:center;
    color: white;

    #toGo:empty:after, #completed:not(:empty):before{
      font-size: 2.5rem;
      display: block;
      padding: 0 1rem;
    }
    #toGo:empty:after{
      content: 'It is time to create your dream destination!';
    }
     #completed:not(:empty):before{
       content: 'Look where you have been!';
       margin: 6rem 0;
     }

    .show {
      display: block;
    }

    #completed {
      .done {
        display: none;
      }
    }

    li {
      background-color: rgba(225,225,255,0.5);
      width: 55%;
      height: 4.5rem;
      font-size: 2.5rem;
      margin:0 auto 1%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 1%;
      @media only screen and (max-width: $bp-phablet){
        width: 80%;
      }
      .buttons{
        height: 80%;
        font-size: 1rem;
        .undone, .done{
          height: 100%;
          font-size: 1.5rem;
          width: 8rem;
          border: none;
          margin: 0 1rem;
          background-color: white;
          cursor: pointer;
          color: rgba(135,3,32,0.98);
          transition: background-color .4s ease-in-out;
          &:hover {
            background-color: rgba(161, 126, 27, 0.5) ;
          }
          @media only screen and (max-width: $bp-mobile){
            width: 6.5rem;
          }
        }
      }
    }
  }
}

.is-hidden{
  display: none;
}

.error{
  color: rgba(135,3,32,0.98);
  width: 100%;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}